.row-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

div.row-container {
    padding-top: 4px;
    padding-bottom: 3px;
    padding-left: 9px;
}

.content-container {
    margin-top: 64px;
}

.text-left {
    margin-right: auto;
    width: 500px;
    padding-right: 16px;
}